version: '3'
services:
  ganache:
    image: trufflesuite/ganache-cli
    command: ganache-cli --host 0.0.0.0 --mnemonic "${MNEMONIC}"
    ports:
      - "8545:8545"
  hardhat:
    build: .
    depends_on:
      - ganache